{% extends 'base.html' %}

{% block title %}Архив{% endblock %}

{% block content %}

    <div class="row mb-3">
        <div class="col-6">
            <h1>Архив</h1>
        </div>
    </div>

    <div class="row">
        {% for ticket in tickets %}

            <div class="col-md-6 col-lg-6 p-2">
                <div class="card">
                    <div class="card-header">
                        <h6 class="mb-0
{% if statuses.get(ticket.current_status) == "Отменен" %}
                        text-danger
{% elif statuses.get(ticket.current_status) == "Завершен" %}
text-success
{% endif %} ">{{ statuses.get(ticket.current_status) }}</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ ticket.description }}</p>
                    </div>

                    <div class="card-footer bg-white">
                        <h6>История:</h6>
                        <div class="row">
                            <div class="col-3">
                                <div class="text-muted">Создан</div>
                            </div>
                            <div class="col-5">
                                <div class="text">{{ ticket.created_at.strftime('%d.%m.%Y %H:%M') }}</div>
                            </div>
                        </div>

                        {% for h in history[ticket.id] %}
                            <div class="row">
                            <div class="col-3">
                                <div class="text-muted">{{ statuses.get(h.status) }}</div>
                            </div>
                            <div class="col-5">
                                <div class="text">{{ h.updated_at.strftime('%d.%m.%Y %H:%M') }}</div>
                            </div>
                            <div class="col-4">
                                <div class="text">{{ users.get(h.updated_by) }}</div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>



{% endblock %}